* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Opera and Firefox */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    width: 90vw;
    height: 50vh;
    border: 1px solid gray;
    position: relative;
}

#container #visualizer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.controls {
    position: absolute;
    top: -100px;
    width: 100%;
    padding: 1rem;
}

.controls .sub .sub-controls {
    display: flex;
    align-items: center;
}

.sub-controls > *, .controls .main > * {
    margin: 0 1rem;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.25rem;
}

.controls button, .controls select {
    border: 2px solid #3CAEA3;
    color: #3CAEA3;
    background: white;
    outline: none;
    transition-duration: 0.3s;
}

.sub-controls > button:hover, .sub-controls select:hover, .sub-controls > button.active {
    background: #3CAEA3;
    color: white;
}

.sub-controls > button:hover, .sub-controls select:hover {
    opacity: 0.7;
}

.sub-controls > button:disabled, .sub-controls select:disabled {
    background: lightgrey;
    color: gray;
    border-color: gray;
}

.elem {
    border: 2px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition-duration: 0.3s;
}

.elem::after {
    position: absolute;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    transition-duration: 0.3s;
}

.elem.active {
    background: #3CAEA3;
    color: white;
}

.elem.minimum, .elem.pivot {
    background: grey;
    color: white;
}

.elem.moving {
    transition-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
}

.elem.moving::after {
    transition-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
}

.elem.sorted {
    background-color: #3CAEA3;
    color: white;
    border-color: #3CAEA3;
    animation: zoomUnzoom 0.5s 1 ease;
}

@keyframes zoomUnzoom {
    50% {
        transform: scale(1.2);
    }
}

@keyframes zoom2 {
    50% {
        transform: scale(0.8);
    }
}

.grid-cell {
    position: absolute;
    background-color: white;
    border: 1px solid grey;
    transition-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-obstacle {
    background-color: grey;
}

.grid-end-point {
    border: 5px solid #3CAEA3;
}

.grid-path {
    background-color: #3CAEA3 !important;
    animation: zoom2 0.5s 1 ease;
}

.grid-visited {
    background-color: #F6D55C;
}

.grid-selected {
    background-color: #3CAEA3 !important;
}